/* GREETING */
.playlist #greeting {
    color: var(--txt-body-color);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
}
  
.playlist .session {
    color: var(--txt-body-color);
    font-size: 24px;
    font-weight: 700;
}