/* COLOR CARDS */
.card01 {
    background-color: var(--card-01);
}

.card02 {
    background-color: var(--card-02);
}

.card03 {
    background-color: var(--card-03);
}

.card04 {
    background-color: var(--card-04);
}

.card05 {
    background-color: var(--card-05);
}

.card06 {
    background-color: var(--card-06);
}

.card07 {
    background-color: var(--card-07);
}

  .card08 {
    background-color: var(--card-08);
}

.card09 {
    background-color: var(--card-09);
}

.card10 {
    background-color: var(--card-10);
}

.card11 {
    background-color: var(--card-11);
}

.card12 {
    background-color: var(--card-12);
}

.card13 {
    background-color: var(--card-13);
}

.card14 {
    background-color: var(--card-14);
}

.card15 {
    background-color: var(--card-15);
}

.card16 {
    background-color: var(--card-16);
}

.card17 {
    background-color: var(--card-17);
}

.card18 {
    background-color: var(--card-18);
}

.card19 {
    background-color: var(--card-19);
}

.card20 {
    background-color: var(--card-20);
}

.card21 {
    background-color: var(--card-21);
}

.card22 {
    background-color: var(--card-22);
}

.card23 {
    background-color: var(--card-23);
}

.card24 {
    background-color: var(--card-24);
}

.card25 {
    background-color: var(--card-25);
}

.card26 {
    background-color: var(--card-26);
}

.card27 {
    background-color: var(--card-27);
}

.card28 {
    background-color: var(--card-28);
}

.card29 {
    background-color: var(--card-29);
}

.card30 {
    background-color: var(--card-30);
}

.card31 {
    background-color: var(--card-31);
}

.card32 {
    background-color: var(--card-32);
}

.card33 {
    background-color: var(--card-33);
}

.card34 {
    background-color: var(--card-34);
}

.card35 {
    background-color: var(--card-35);
}

.card36 {
    background-color: var(--card-36);
}

.card37 {
    background-color: var(--card-37);
}

.card38 {
    background-color: var(--card-38);
}

.card39 {
    background-color: var(--card-39);
}

.card40 {
    background-color: var(--card-40);
}

.card41 {
    background-color: var(--card-41);
}

.card42 {
    background-color: var(--card-42);
}

.card43 {
    background-color: var(--card-43);
}

.card44 {
    background-color: var(--card-44);
}

.card45 {
    background-color: var(--card-45);
}

.card46 {
    background-color: var(--card-46);
}

.card47 {
    background-color: var(--card-47);
}

.card48 {
    background-color: var(--card-48);
}

.card49 {
    background-color: var(--card-49);
}

.card50 {
    background-color: var(--card-50);
}

.card51 {
    background-color: var(--card-51);
}

.card52 {
    background-color: var(--card-52);
}

.card53 {
    background-color: var(--card-53);
}

.card54 {
    background-color: var(--card-54);
}

.card55 {
    background-color: var(--card-55);
}

.card56 {
    background-color: var(--card-56);
}

.card57 {
    background-color: var(--card-57);
}

.card58 {
    background-color: var(--card-58);
}

.card59 {
    background-color: var(--card-59);
}

.card60 {
    background-color: var(--card-60);
}

.card61 {
    background-color: var(--card-61);
}

.card62 {
    background-color: var(--card-62);
}

.card63 {
    background-color: var(--card-63);
}

.card64 {
    background-color: var(--card-64);
}

.card65 {
    background-color: var(--card-65);
}

.card66 {
    background-color: var(--card-66);
}

.card67 {
    background-color: var(--card-67);
}

.card68 {
    background-color: var(--card-68);
}

.card69 {
    background-color: var(--card-69);
}

.card70 {
    background-color: var(--card-70);
}

.card71 {
    background-color: var(--card-71);
}

.card72 {
    background-color: var(--card-72);
}

.card73 {
    background-color: var(--card-73);
}

.card74 {
    background-color: var(--card-74);
}

/* FIM COLOR CARDS */