:root {

/* FONT */
    --font-dm-sans: "DM Sans", sans-serif;


/* COLORS */

    --bg-body-color: #000;
    --txt-body-color: #fff;

    --bg-sidebar-color: #121212;
    --txt-sidebar-color: #b3b3b3;

    --bg-playlist-color: #242424;

    --border-languages-color: #878787;

    --bg-footer-color: linear-gradient(90deg,#af2896,#509bf5);

    --bg-icon: #131313;
    --bg-arrow-color: rgba(0,0,07);

    --bg-card-artist: #181818;
    --bg-card-artist-hover: #252525;
    --txt-card-artist: #6a6a6a;

    --bg-play-icon: #1db954;

    --txt-login-color: #a7a7a7;

    --card-01: rgb(0, 100, 80);
    --card-02: rgb(132, 0, 231);
    --card-03: rgb(30, 50, 100);
    --card-04: rgb(232, 17, 91);
    --card-05: rgb(39, 133, 106);
    --card-06: rgb(255, 200, 100);
    --card-07: rgb(83, 122, 161);
    --card-08: rgb(45, 70, 185);
    --card-09: rgb(13, 115, 236);
    --card-10: rgb(142, 102, 172);
    --card-11: rgb(230, 30, 50);
    --card-12: rgb(30, 50, 100);
    --card-13: rgb(141, 103, 171);
    --card-14: rgb(230, 30, 50);
    --card-15: rgb(20, 138, 8);
    --card-16: rgb(80, 55, 80);
    --card-17: rgb(0, 100, 80);
    --card-18: rgb(141, 103, 171);
    --card-19: rgb(160, 195, 210);
    --card-20: rgb(233, 20, 41);
    --card-21: rgb(216, 64, 0);
    --card-22: rgb(13, 115, 236);
    --card-23: rgb(233, 20, 41);
    --card-24: rgb(233, 20, 41);
    --card-25: rgb(165, 103, 82);
    --card-26: rgb(13, 115, 236);
    --card-27: rgb(5, 105, 82);
    --card-28: rgb(255, 0, 144);
    --card-29: rgb(225, 17, 140);
    --card-30: rgb(119, 119, 119);
    --card-31: rgb(216, 64, 0);
    --card-32: rgb(83, 122, 161);
    --card-33: rgb(81, 121, 161);
    --card-34: rgb(30, 50, 100);
    --card-35: rgb(230, 30, 50);
    --card-36: rgb(186, 93, 7);
    --card-37: rgb(165, 103, 82);
    --card-38: rgb(80, 55, 80);
    --card-39: rgb(176, 40, 151);
    --card-40: rgb(186, 93, 7);
    --card-41: rgb(119, 119, 119);
    --card-42: rgb(80, 155, 245);
    --card-43: rgb(13, 114, 237);
    --card-44: rgb(225, 17, 140);
    --card-45: rgb(186, 93, 7);
    --card-46: rgb(20, 138, 8);
    --card-47: rgb(140, 25, 50);
    --card-48: rgb(71, 125, 149);
    --card-49: rgb(255, 70, 50);
    --card-50: rgb(141, 103, 171);
    --card-51: rgb(175, 40, 150);
    --card-52: rgb(232, 17, 91);
    --card-53: rgb(228, 29, 99);
    --card-54: rgb(232, 17, 91);
    --card-55: rgb(235, 30, 50);
    --card-56: rgb(175, 40, 150);
    --card-57: rgb(20, 138, 8);
    --card-58: rgb(0, 100, 80);
    --card-59: rgb(13, 115, 236);
    --card-60: rgb(216, 64, 0);
    --card-61: rgb(13, 115, 236);
    --card-62: rgb(245, 155, 35);
    --card-63: rgb(125, 75, 50);
    --card-64: rgb(83, 122, 161);
    --card-65: rgb(119, 119, 119);
    --card-66: rgb(188, 89, 0);
    --card-67: rgb(220, 20, 140);
    --card-68: rgb(233, 20, 41);
    --card-69: rgb(30, 50, 100);
    --card-70: rgb(176, 98, 57);
    --card-71: rgb(230, 30, 50);
    --card-72: rgb(71, 125, 149);
    --card-73: rgb(225, 51, 0);
    --card-74: rgb(216, 64, 0);
}